<!DOCTYPE html>
<html>

<head>
    <title>Error:404</title>
    <link rel="shortcut icon" type="image/png" href="/img/download.png"/>
<link rel="stylesheet" href="./css/style.css">
</head>

<body>
<div class="main-content">

    {{>header}}

<p>
{{err}}
</p>
</div>




    {{>footer}}
     
</body>


</html>