<html>

<head>
    <title>Help</title>
    <link rel="shortcut icon" type="image/png" href="/img/download.png"/>
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>
    <div class="main-content">

    {{>header}}
    
    {{helpText}}
    </div>

    <br>
 {{>footer}}
</body>


</html>