<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>
    <link rel="shortcut icon" type="image/png" href="/img/download.png"/>
<link rel="stylesheet" href="./css/style.css">

</head>

<body>
    <div class="main-content">

{{>header}}
    <p>there will be content</p>

<form action="">
    <input placeholder="Location">
    <button> Search</button>
</form>
<p id="message-1"></p>
<p id="message-2"></p>
    </div>

    {{>footer}}
     <script src="./js/app.js"></script>
</body>


</html>